:local {
    .ratingContainer, .starsContainer {
        display: flex;
        width: fit-content;
    }

    .starsContainer {
        flex-direction: row-reverse;
    }

    .star, .colorStar {
        font-size: 40px;
        cursor: pointer;
        color: #bfbfbf;
    }

    .colorStar {
        color: #247fab
    }

    .star:hover, .starContainer:hover ~ .starContainer > .star {
        color: #f69c00;
    }

    .starValue {
        text-align: center;
        font-size: 10px;
        margin-top: -5px;
    }

    .totalRating {
        margin-left: 10px;
        font-size: 50px;
        color: #f69c00;
    }

    .totalCount, .deleteButton {
        align-self: flex-end;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .totalCount {
        color: #bfbfbf;
    }

    .deleteButton {
        color: #d7d7d7;
        cursor: pointer;
    }

    .deleteButton:hover {
        color: #bfbfbf;
    }
}
