:local {
    .container, .trailer, .reviewsContainer, .formContainer {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .trailer, .reviewsContainer, .formContainer {
        flex-direction: column;
    }

    .trailer {
        align-items: center;
    }

    .movieInfo {
        display: flex;
        flex-direction: column;
        width: 800px;
        align-content: space-between;
    }

    .hr {
        background-color: #e0f2f1;
        height: 1px;
        border: none;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .itemDescription {
        color: #b48484;
        font-size: 14px;
        margin-bottom: 0;
    }

    .button {
        background: #e0f2f1;
        width: 100px;
        height: 30px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }
}
